body{
    margin: 0;
    padding: 0;
    background-color:  whitesmoke;
    font-family: Arial, sans-serif;
}
.content{
    padding: 100px;
    background-color: beige;
    
}
.content h1{
font-size: 50px;
color: #1E3D33;


}
.content p{
    color: #2F5D4E;
   
    
}
.content p ,h1{
    text-align: center;
}
 .visiteur img{
    width: 100%;
    height: auto;
    padding: 20px;
}
.article{
    line-height: 1.5;
    margin-left:40px ;
}
.article-body img{
    width: 100%;
    height: auto;
    padding: 20px;
}
.article-body h2{
    color: #1E3D33;
}
.article-body ul li{
    color: gray;
}